@use '/src/common/styles/colors' as *;

.form {
  width: 80%;
  display: flex;
  flex-direction:column;
  border-radius:15px;
  gap: 12px;
  margin: auto;
  margin-top: 7%;
  padding: 24px;
  box-shadow: 0px 0px 10px #00000077;

  input {
    padding: 14px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 43px;
  }
}

.btn-submit {
  
  color: $white;
  padding: 14px 16px;
  border-radius: 43px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
