@use "/src/common/styles/colors" as *;

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.product {
  width: 390px; 
  padding: 0 20px;
  background-color: rgb(252, 252, 252);
  border: 1px solid $grey100;
  border-radius: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.6s ease, padding 0.6s ease, box-shadow 0.6s ease;
}

.product:hover {
  transform: scale(0.95);
  padding: 0 15px;
  box-shadow: 0 0 5px 5px rgba(85, 85, 85, 0.1);
}


.pic {
width: 100%;
  height: 210px;
  border-radius: 25px;
  border:2px solid $grey100;
  img {
    width: 100%;
    height: 100%;
    border-radius: 23px;
    object-fit: cover;
  }
}


@media screen and (min-width:1024px) {
  .product {
    max-width: calc(25% - 20px);
  height: 425px;  
   h1 {
      font-size: large;
  }
h2{
        font-size: medium;
}
}
}


@media screen and (max-width:1024px) {
  .product {
    max-width: calc(32.7% - 10px);
  height: 400px;  
   h1 {
      font-size:medium;
  }
h2{
        font-size:small;
}
}
}
@media screen and (max-width:600px) {
  .product {
    max-width: calc(100% - 10px);
}
}
