@use "/src/common/styles/colors" as *;

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.product {
  width: 390px; 
  padding: 0 20px;
  background-color: rgb(252, 252, 252);
  border: 1.5px solid $grey100;
  border-radius: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
      font-size: 0.85rem;
}
h1{
margin: 13px 0;
}

.pic {
width: 100%;
  height: 210px;
  background-color: #cbaff75c;
  border-radius: 30px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
      
  }
}


@media screen and (min-width:1024px) {
  .product {
    max-width: calc(20% - 20px);
  height: 425px;  
   h1 {
      font-size: large;
  }
h2{
        font-size: medium;
}
}
}


@media screen and (max-width:1024px) {
  .product {
    max-width: calc(30% - 10px);
  height: 400px;  
   h1 {
      font-size:medium;
  }
h2{
        font-size:small;
}
}
}
@media screen and (max-width:600px) {
  .product {
    max-width: calc(100% - 10px);
}
}
