* {
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #f7f9fc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: 0.5px solid transparent;
  padding: 10px 30px;
  border-radius: 18px;
  background-color: #6a4caf;
  color: white;
  cursor: pointer;
}

table {
  margin: 20px 0;
}
