.section{
        display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 30px
}
.changelogItem {
  margin: 15px 0;
  width: 100%;
  color: rgb(97, 97, 97);
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.255);

  text-align: center;
}
