@use "/src/common/styles/colors" as *;

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    width: 48.5%;
    margin: 15px 0;
   
  }
  button{
    padding: 10px 25px;
      transition: all 0.6s ease;   
       font-size: 1em;
  }
  button:hover{
    font-size: 1.3rem;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.159);
 
  }
}
.info {
  p > span {
    color: rgb(115, 115, 115);
  }
  background-color: rgb(227, 227, 227);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.299);
  border-radius: 20px;
  padding: 8px;
  margin: 15px 0;
}

.category {
  color: $primary;
  font-size: 1.2em;
  font-weight: 600;
}
.price {
  font-size: 1.2em;
}

.images {
  overflow: hidden;
  border-radius: 25px;
  border: 1.5px solid rgb(193, 193, 193);
  background-color: #cbaff779;
  height: 100%;
}
