.category,
.sale,
.home-page,
.wrapper {
  padding: 0px 3%;
}

h4{
display: flex;
justify-content: center;
color: gray;

}
.content {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;

}