.category,
.sale,
.home-page,
.wrapper {
  padding: 0 3%;
text-align: center;
}
.wrapper-nav{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 15px;
}

.content {
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}
.personal-info {
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(223, 223, 223, 0.923);
  margin-top: 20px;
  width: 100%;
 input{
  border: none;
  border-radius: 7px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
 }
}
.changelog  {
  text-align: center;
  background-color: rgb(231, 231, 231);
  color: rgb(98, 98, 98);
  border-radius: 15px;
  padding: 5px 7px;
}
.category-nav{
       display: flex;
          justify-content:center;
          align-items: center;
          gap: 15px;
}