.category,
.sale,
.home-page,
.wrapper {
  padding: 0px 3%;
}

h4{
display: flex;
justify-content: center;
color: gray;

}
.content {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}
.personal-info {
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(223, 223, 223, 0.923);
  margin-top: 20px;
  width: 100%;
 input{
  border: none;
  border-radius: 7px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
 }
}