.form {
  width: 100%;
  font-size: large;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  border-radius: 13px;
  margin-top: 10px;
  label {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    font-size: 1rem;
    border:none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }
  input:hover {
    cursor: pointer;
  }

}
img {
  width: 100%;
}
.category-label {
  input {
    width: 20%;
    font-size: 1rem;
    margin: 15px;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 15px;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #ccc;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.new-category-form {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  .input {
    padding: 7px;
    border-radius: 10px;
    border: 1.7px solid #bcbcbc;
  }
}
button {
  border-radius: 10px;
}

.option {
  width: 100%;
  max-width: 100%;
  padding: 5px 0x;
  border-radius: 7px;
  border: 1.7px solid #a3a3a3;
  margin-bottom: 5px;
}

.admin-actions {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  table {
    font-size: small;
  }
  }
