
.form {
  width: 100%;
  font-size: x-large;
  margin: auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 15px;
  label {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 15px;
    border: 2.5px solid #7e32c6;
    border-radius: 15px;
    transition: background-color 0.5s ease;
  }
  input:hover {
    background-color: rgb(238, 238, 238);
  }
  option {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 15px;
  }
}
img {
  width: 100%;
}
.category-label {
  input {
    width: 20%;
    font-size: 1.2rem;
    margin: 15px;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 15px;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #ccc;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
  }
}
.new-category-form {
  display: flex;
  gap:10px;
  padding: 10px 0px;
.input{
padding: 7px;
border-radius: 10px;
border:2.5px solid #7e32c6
}
}
button{
    border-radius: 10px;
}
.option {
    padding: 5px;
    border: 1px solid #82729d;
    background-color: #82729d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}