
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(232, 232, 232);

  span{
    padding: 0.9em;
  }
  button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.clear{
  margin: 0.5em 0;
}

.inputs{
    display: flex;
    border: none ;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    font-size: large;
    gap: 15px;
    background-color: rgb(232, 232, 232);
  input{
    width: 100%;
    padding:12px;
    border:none;
    border-radius:10px
  }
}