
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  h3{
    width: 50%;
  }
  p{
    width: 20%;
  }
  span{
    padding: 1em;
  }
  button{
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
  }
}
.cart-item:first-child{
  border-top: 1px solid #eee;
}
.clear{
  margin: 0.5em 0;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:15px;
    background-color: rgb(224, 224, 224);

}
.cart{
        padding: 0 50px;
}
.inputs{
    display: flex;
    border:2px solid rgb(193, 193, 193);
    border-radius:15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.208);
    padding: 20px;
    flex-direction: column;
    font-size: large;
    gap: 15px;
  input{
    width: 100%;
    padding:12px;
    border:2px solid rgb(220, 220, 220);
    border-radius:10px
  }
}