.header {
  width: auto;
  height: auto;
  background-color: #55358d;
  padding: 35px 135px;
  overflow-y: hidden;
  
}

.top-header {
  display: flex;
  justify-content: space-around;
  color: rgb(213, 213, 213);
  button {
    color: rgb(213, 213, 213);
    border: 0.5px solid transparent;
    font-size: large;
    padding: 8px 30px;
    border-radius: 15px;
    background-color: #9575cd;
    transition: background-color 0.4s ease;
    &:hover {
      background-color: #7e57c2;
    }
  }
  a {
    padding: 9px 5px;
    border-radius: 15px;
    font-weight: 500;
    font-size: x-large;
    color: rgb(213, 213, 213);
    transition: all 0.5s ease;
  }
  a:hover {
    padding: 9px 15px;
    background-color: #9575cd;
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  white-space: nowrap;
  gap: 15px;
  padding: 10px 0;
  transform: translateY(15px);
  a {
    border: 0.5px solid transparent;
    padding: 9px 5px;
    border-radius: 15px;
    font-weight: 500;
    font-size: x-large;
    color: rgb(213, 213, 213);
    transition: all 0.5s ease;
  }

  a:hover {
    padding: 9px 15px;
    background-color: #9575cd;
    color: rgb(213, 213, 213);
  }
}

.searchInput {
  border: 1px solid transparent;
  transform: translateY(-5px);
  width: 92%;
  height: 30px;
  padding: 1.5px 0;
  border-radius: 10px;
}
.searchInput:focus {
  outline: 2px solid #462087;
}
.searchButton {
  margin-left: 7px;
  border-radius: 10px;
  background-color: #9575cd;
  color: white;
  border: 0.5px solid transparent;
  padding: 5px 10px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 20px;
  }
  .main-menu {
    display: block;
    transform: none;
    a {
      font-size: large;
    }
  }
  .searchInput {
    transform: translateY(5px);
  }
  .searchButton {
    transform: translateY(10px);
  }
}
