.header {
  width: auto;
  height: auto;
  background-color: #55358d;
  padding: 35px 135px;
  overflow-y: hidden;
}

.top-header {
  font-weight: 500;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  color: rgb(213, 213, 213);
  button {
    color: rgb(213, 213, 213);
    border: 0.5px solid transparent;
    font-size: large;
    padding: 8px 30px;
    border-radius: 15px;
    background-color: #9575cd;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #7e57c2;
    }
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  white-space: nowrap;
  gap: 15px;
  padding: 10px 0;
transform: translateY(15px);
a {
  border: 0.5px solid transparent;
  padding: 9px 5px;
  border-radius: 15px;
  font-weight: 500; 
  font-size: x-large;
  color: rgb(213, 213, 213);
  transition: all 0.5s ease; 
}

a:hover,
a:focus {
  padding: 9px 15px;
  background-color: #9575cd;
  color: rgb(213, 213, 213);
}

}

.search {
  margin-top: -5px;
}
.searchInput {
  border: 1px solid transparent;
  width: 93%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
}
.searchInput:focus{
  outline:2px solid #060606;
}
.searchButton{
  margin-left:10px;
transform: translateY(5px);
  border-radius:10px;
  background-color:#9575cd;
  color:white;
  border:0.5px solid transparent;
  padding:5px 10px;
  cursor:pointer;
}
@media screen and (max-width: 1024px) {
  .header {
    font-size:20px;
    padding: 15px 25px;
  }
  .main-menu{
    transform:none;
  }
   .top-header{
    font-size: x-large;
  }
  .main-menu{
    display: block;
.home,a{
      font-size: large;
    }
  }
}

