.header {
  width: 100%;
  height: 155px;
  background-color: #55358d;
  padding: 35px 135px;
  overflow-y: hidden;
}

.top-header {
  font-weight: 510;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  color: rgb(213, 213, 213);
  button {
    color: rgb(213, 213, 213);
    border: 0.5px solid transparent;
    font-size: large;
    padding: 8px 30px;
    border-radius: 15px;
    background-color: #9575cd;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #7e57c2;
    }
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  white-space: nowrap;
  gap: 10px;
  padding: 10px 0;
  .home {
    border: 0.5px solid transparent;
    border-radius: 15px;
    background-color: #9575cd;
  }

  a {
    border: 0.5px solid transparent;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: 490;
    font-size: x-large;
    color: rgb(213, 213, 213);
    transition: background-color 0.5s ease;
  }
  a:hover {
    background-color: #9575cd;
  }
}
.searchInput{

  border:2px solid rgb(198, 198, 198);
width:90%;
height:30px;
border-radius:10px;
}
.searchButton{
  margin-left:10px;
  border-radius:10px;
  background-color:#9575cd;
  color:white;
  border:0.5px solid transparent;
  padding:5px 10px;
  cursor:pointer;
  transition: background-color 0.5s ease;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 360px;
    font-size:20px;
    padding: 15px 30px;
    box-sizing: border-box;

  }
   .top-header{
    font-size: x-large;
  }
  .main-menu{
    display: block;
.home,a{
      font-size: large;
    }
  }
}

